$font-path: "../assets/fonts";
$app-direction: ltr;

@import "ionic.globals";

$colors: (
  primary: #95a5a6,
  secondary: #3498db,
  danger: #f53d3d,
  light: #f4f4f4,
  dark: #222,
  favorite: #69bb7b
);

@import "ionic.theme.default";
@import "ionic.ionicons";

@import "roboto";
@import "noto-sans";
